body {
    background-color: black;
    color: white;
}

a {
    color: grey;
    
}

.container {
    display: inline-block;
    float: right;
}

h2 {
    display: inline-block;
    margin-right: 15px;
    
}

.logo {
    margin-right: 600px;
}

.box {
    position: relative;
    text-align: center;
    color: white;
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100%;
}

.back-img {
    width: 100%;
}