body {
    background-color: black;
    color: white;
}

a {
    color: grey;
    
}

.container {
    display: inline-block;
    float: right;
}

h2 {
    display: inline-block;
    margin-right: 15px;
}

.logo {
    margin-right: 600px;
}

.box {
    display: inline-block;
    text-align: center;
    color: white;
    position: relative;
    
    
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100%;
}

.back-img {
    width: 100%;
}

.box1 {
    align-items: center;
    text-align: center;

}

.box2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.test-img {
    width: 300px;
    height: 200px;
}
